@import "bootstrap/less/bootstrap";
@import "buttons";

html, body {
    background: #f5f5f5;
}

form {
    & > div {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#addMacAddress {
    .list-group-item {
        position: relative;

        .label {
            position: absolute;
            top: 12px;
            right: 15px;
        }
    }
}

.relay {
    h2 {
        float: left;
        margin: 0;
    }
}
